<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        }
        body {
        background-color: #8758FF;
        }
        .card {
        width: 350px;
        height: 350px;
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        box-shadow: 0 35px 65px rgba(6, 34, 70, 0.6);
        overflow: hidden;
        }
        .card img {
        width: 100%;
        transition: 0.5s;
        }
        h3 {
        background-color: #8758FF;
        width: 50%;
        position: absolute;
        bottom: 80px;
        right: -60%;
        padding: 10px 0;
        color: #ffffff;
        text-align: center;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 600;
        transform: skew(-5deg);
        transition: 0.3s;
        }
        h5 {
        background-color: #ffffff;
        width: 67%;
        padding: 12px 0;
        text-align: center;
        font-size: 16px;
        letter-spacing: 0.4px;
        position: absolute;
        right: -85%;
        bottom: 37px;
        transform: skew(-5deg);
        transition: 0.3s;
        }
        .card:hover h3,
        .card:hover h5 {
        right: -1%;
        }
        .card:hover img {
        transform: scale(1.15);
        filter: contrast(120%);
        }
    </style>

</head>
<body>

    <div class="card">
        <img src="https://i.imgur.com/5ffIsuG.png"/>
        <h3><%= result[0].fname %></h3>
        <a href="/myprofile?username=<%= result[0].username %>"><h5>View Full Profile</h5></a>
    </div>
    
    <!-- <h1>hy, <%= result[0].fname %></h1>
    <a href="/myprofile?username=<%= result[0].username %>">profile</a> -->
</body>
</html>